.center {
    font-family:sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
ul {
    text-align:center;
    list-style-position: inside;
}
table,
th,
td {
    text-align:center;
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
img {
    width:400px;
    height:auto;
}